* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: monospace;
}

.stats-container {
    width: 25%;
}

.quests-container {
    width: 75%;
}

/* Quests */

.quests {
    max-height: 85vh;
    overflow-y: scroll;
}

.quest {
    height: 20px;
    font-size: 15px;
    padding: 20px;
}

.quest:nth-child(odd) {
    background: #f5f5f5;
}

.quest.completable {
    background: #449d44;
}

.quest.recommended a {
    color: yellow;
}

.quest a,
.quest a:visited {
    color: #000;
    text-decoration: none;
}

/* Stats */

.stats {
}

.stats .col {
    float: left;
    width: 60px;
    background: #464743;
}

.skill {
    height: 30px;
    margin: 2px;
    background: #464743;
}

.skill .level {
    font-family: monospace;
    color: #fffa2a;
    padding-left: 30px;
}

.total {
    height: 30px;
    padding: 1px;
    color: #fffa2a;
    background: #000;
    line-height: .85;
    text-align: center;
    white-space: nowrap;
}

.total .text {
    font-family: monospace;
    font-size: 8.5px;
}

.total .level {
    font-family: monospace;
    font-size: 12px;
}

.overall:before {
    content: url('../img/overall-icon.png');
}

/* Column One */

.skill:before {
    position: absolute;
}

.attack:before {
    content: url('../img/attack-icon.png');
}

.strength:before {
    content: url('../img/strength-icon.png');
}

.defence:before {
    content: url('../img/defence-icon.png');
}

.ranged:before {
    content: url('../img/ranged-icon.png');
}

.prayer:before {
    content: url('../img/prayer-icon.png');
}

.magic:before {
    content: url('../img/magic-icon.png');
}

.runecrafting:before {
    content: url('../img/runecrafting-icon.png');
}

.construction:before {
    content: url('../img/construction-icon.png');
}

/* Colummn Two */

.constitution:before {
    content: url('../img/constitution-icon.png');
}

.agility:before {
    content: url('../img/agility-icon.png');
}

.herblore:before {
    content: url('../img/herblore-icon.png');
}

.thieving:before {
    content: url('../img/thieving-icon.png');
}

.crafting:before {
    content: url('../img/crafting-icon.png');
}

.fletching:before {
    content: url('../img/fletching-icon.png');
}

.slayer:before {
    content: url('../img/slayer-icon.png');
}

.hunter:before {
    content: url('../img/hunter-icon.png');
}

/* Column Three */

.mining:before {
    content: url('../img/mining-icon.png');
}

.smithing:before {
    content: url('../img/smithing-icon.png');
}

.fishing:before {
    content: url('../img/fishing-icon.png');
}

.cooking:before {
    content: url('../img/cooking-icon.png');
}

.firemaking:before {
    content: url('../img/firemaking-icon.png');
}

.woodcutting:before {
    content: url('../img/woodcutting-icon.png');
}

.farming:before {
    content: url('../img/farming-icon.png');
}