<h1>{{quest.name}}</h1>

<div class="requirements">
    <div class="skills" ng-repeat="(skill, level) in quest.requirements.skills">
        <div class="skill {{skill}}"><span class="level">{{level}}</span></div>
    </div>

    <div class="quests">
        <div class="quest" ng-repeat="quest in subquests">
            <a ui-sref="quests-details({ slug: quest.slug })">{{quest.name}}</a>
        </div>
    </div>
</div>

<div class="rewards">
    <div class="quest-point">{{quest.rewards.points}}</div>
</div>