<form ng-submit="lookup()">
    <input type="text" name="player" ng-model="player">
    <input type="submit" value="Submit">
</form>

<div class="stats">
    <div class="col first">
        <div class="skill {{skill}}" title="{{generateTooltip(skill, stats[skill].xp)}}" ng-repeat="skill in skills.1">
            <span class="level">{{stats[skill].level}}</span>
        </div>
    </div>
    <div class="col second">
        <div class="skill {{skill}}" title="{{generateTooltip(skill, stats[skill].xp)}}" ng-repeat="skill in skills.2">
            <span class="level">{{stats[skill].level}}</span>
        </div>
    </div>
    <div class="col third">
        <div class="skill {{skill}}" title="{{generateTooltip(skill, stats[skill].xp)}}" ng-repeat="skill in skills.3">
            <span class="level">{{stats[skill].level}}</span>
        </div>
        <div class="total" title="{{generateTooltip('overall', stats['overall'].xp)}}">
            <span class="text">Total level:</span><br><span class="level">{{stats['overall'].level}}</span>
        </div>
    </div>
</div>